/* body {
    margin: 0
    /* background-image: url("http://www.psd-dude.com/tutorials/how-to-make-animated-moving-clouds-in-photoshop/photoshop-clouds-animation-tutorial.gif"); */
    /* background-image: url(https://c.wallhere.com/photos/fe/89/vaporwave_grid_Sun-1214352.jpg!d); */
    /* background-image: url(https://i.redd.it/t5uznty7lg331.jpg); */
    /* background-image: url(https://bandcampblog.files.wordpress.com/2017/08/vaporwave-hip-hop-1244-2.jpg); */
    /* background-image: url(https://cdn.clipart.email/7bb6b009e709d6acfcf3c3ad95eb7f4e_farm-free-clip-art-at-clkercom-vector-clip-art-online-royalty-_600-445.png); */
/* }
 #bg {
    padding: 1200px;
    background: url(https://media1.tenor.com/images/d285e569f29e05b2b86b1a38b4b9d3a4/tenor.gif?itemid=12751326);
    background-repeat: no-repeat; 
    background-size: 31.75% 25.6%;
    box-sizing: border-box;
    }
   
#border {
    border: 20px solid;
    box-sizing: border-box;
    width: 800px;
    height: 650px;
   }
 */ */
